@font-face {
    font-family: "Hypertext";
    src: url("Fixedsys.ttf");
}

@font-face {
    font-family: "Typetext";
    src: url("nyashasans.ttf");
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #b2b2b2;
    overflow: hidden;
    margin:0;
    padding:0;

}

.overlay {
    z-index: 9;
    position: absolute;
    margin: 30px;
    bottom: 0;
}

@media (max-width: 1170px) {
  .overlay {
    width: 90%;
    word-wrap: break-word;
	margin-left: 10px;
	margin-left: 10px;
	position: relative;
  }
}

a {
    color: #FF3399;
    text-decoration: none
}

a.cr {
    color: white;
    text-decoration: none;
    font-family: Typetext;
    font-weight: 100;
    font-size: 0.8em;
    color: white;
    margin-top: 15px;
    margin-right: 15px;

}

@media (max-width: 1170px) {
  a.cr {
	color: black;
  }
}

h1 {
    font-family: Hypertext;
    font-weight: 100;
    font-size: 2em;
    color: white;

}

@media (max-width: 1170px) {
  h1 {
    font-size: 1em;
	color: black;
	background-color: black;
	line-height: 3em;
  }
}

h2 {
    font-family: Typetext;
    font-weight: 100;
    font-size: 1.2em;
    color: white;

}

@media (max-width: 1170px) {
  h2 {
    font-size: 0.8em;
	color: black;
  }
}

.container {
    position: relative;

}

.boxer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden

}

@media (max-width: 1170px) {
  .boxer {
	height: 70vh;
    display: block;
    margin:0 auto;
    overflow: scroll;
	
  }
}

.boxer img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

@media (max-width: 1170px) {
  .boxer img {
	display:block;
	margin:0 auto;
  object-fit: contain;
	max-height: 100%
  }
}

.counter {
    display: flex;
    text-align: left;
    justify-content: flex-start;

}

@media (max-width: 1170px) {
  .counter {
    display: flex;
    flex-wrap: wrap;
  }
}

.wrapper{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.soxer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden

}

@media (max-width: 1170px) {
  .soxer {
	height: 70vh;
    display: block;
    margin:0 auto;
    overflow: scroll;
	
  }
}

.soxer img {
    flex-shrink: 0;
    min-width: 70%;
    min-height: 70%;
	height: 80%; 
	
}

@media (max-width: 1170px) {
  .soxer img {
	display:block;
	margin:0 auto;
  object-fit: contain;
	max-height: 100%
  }
}
}
